@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
	height: 100%;
}

body {
	background: #3b3f45;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

/* Top Navigation Style */
.codrops-top {
	margin-top: 1em;
}

.codrops-top a {
	font-size: 0.69em;
	padding: 0 0.25em;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.codrops-icon-info:before {
	content: "\e003";
}

.codrops-icon span {
	display: none;
	position: absolute;
	font-size: 0.85em;
	padding: 0.5em 0 0 0.25em;
	font-weight: 700;
}

.codrops-icon:hover span {
	display: block;
	color: #6a7b7e;
}

/* Related demos */
.related {
	font-weight: 700;
	text-align: center;
	padding: 1em;
	display: none;
	background: #fff;
	color: rgba(0,0,0,0.3);
}
.related-content, ul, h3 {
	max-width: 500px;
	margin: auto;
	color: white;
}
.call-to-action {
	background-color: gray;
	margin: 2em auto;
	padding: 2em;
}
.call-to-action h2, .call-to-action h3 {
	color: white;
}
.related p, ul, h2, h3 {
	font-family: 'Raleway', Arial, sans-serif;
	color: black;
	margin: 1em auto;
	font-weight: 400;
	text-align: left;
}

.related-content ul ul {
	margin: .5em auto;
}

.related-content a img {
	width: 100%;
	height: auto;
}
.overview .related {
	display: block;
}

.related-content > a {
	border: 3px solid black;
	border-color: initial;
	display: block;
	text-align: center;
	margin: 2em auto;
	padding: 25px;
	width: 100%;
	max-width: 400px;
}

.related-content > a.no-styling {
	border: none;
	padding: 0;
}
.related > a:hover,
.related > a:focus {
	color: rgba(0,0,0,0.5);
}

.related img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

.fs-form-overview li {
	display: none;
}

input {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.call-to-action h2 {
	margin: 1em 0;
}

.center {
	text-align: center;
}

.limit-to-400 {
	max-width: 150px !important;
}
