<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		{{ wp_head() }}
	</head>
	<body>
		<div class="container">

			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>Philly Drink Tax</h1>
					<p>There is a 10% tax on retail price of liquor, wine, and beer sold in the City of Philadelphia. 100% of the revenue from that tax goes to the School District of Philadelphia.</p>

				</div>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off">
					<ol class="fs-fields">
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="q1">How many drinks do you have out each week?</label>
							<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								<span><input id="q1b" name="q1" type="radio" value="conversion"/><label for="q1b" class="radio-conversion">1-3</label></span>
								<span><input id="q1c" name="q1" type="radio" value="social"/><label for="q1c" class="radio-social">4-7</label></span>
								<span><input id="q1a" name="q1" type="radio" value="mobile"/><label for="q1a" class="radio-mobile">8-10</label></span>
							</div>
						</li>
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="q2">Pick your poison.</label>
							<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								<span><input id="q2b" name="q2" type="radio" value="conversion"/><label for="q2b" class="radio-conversion">1-3</label></span>
								<span><input id="q2c" name="q2" type="radio" value="social"/><label for="q2c" class="radio-social">4-7</label></span>
								<span><input id="q2a" name="q2" type="radio" value="mobile"/><label for="q2a" class="radio-mobile">8-10</label></span>
							</div>
						</li>
					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">Share your impact</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

			<!-- Related demos -->
			<div class="related">
				<p>Learn more:</p>
				<a href="http://tympanus.net/Development/MinimalForm/">
					<img src="http://placehold.it/300x162" />
					<h3>Related 1</h3>
				</a>
				<a href="http://tympanus.net/Development/ButtonComponentMorph/">
					<img src="http://placehold.it/300x162" />
					<h3>Related 1</h3>
				</a>
			</div>

		</div><!-- /container -->

		{{ wp_footer() }}

		<script>
			(function() {
				var formWrap = document.getElementById( 'fs-form-wrap' );

				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){
							document.querySelector('span.cs-placeholder').style.backgroundColor = val;
						}
					});
				} );

				new FForm( formWrap, {
					onReview : function() {
						classie.add( document.body, 'overview' ); // for demo purposes only
					}
				} );
			})();
		</script>
	</body>
</html>
