<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
<!---
                          ,@             @                         
                          @@;           @@@                        
                         @@@@          @@@@,                       
                        #@@@@@        :@@@@@                       
                       .@@@@@@#       @@@@@@@                      
                       @@@@@@@@.     @@@@@@@@'                     
                      @@@@@@@@@@    '@@@@@@@@@                     
                     .@@@@@@@@@@@   @@@@@@@@@@@                    
                     @@@@@@@@@@@@  @@@@@@@@@@@@,                   

                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@`     +@@@@@@@@@@                   
                    .@@@@@@@@#         @@@@@@@@@                   
                    .@@@@@@@@    :'`    @@@@@@@@                   
                    .@@@@@@@   '@@@@@   +@@@@@@@                   
                    .@@@@@@#  .@@@@@@@   @@@@@@@                   
                    .@@@@@@.  @@@@@@@@`  @@@@@@@                   
                    .@@@@@@   @@@@@@@@;  @@@@@@@                   
                    .@@@@@@`  @@@@@@@@,  @@@@@@@                   
                    .@@@@@@;  #@@@@@@@   @@@@@@@                   
                    .@@@@@@@   @@@@@@:  .@@@@@@@                   
                    .@@@@@@@,   #@@@`   @@@@@@@@                   
                    @@@@@@@@@          @@@@@@@@@`                  
                   @@@@@@@@@@@,       @@@@@@@@@@@                  
                  +@@@@@@@@@@@@@'. ,@@@@@@@@@@@@@@                 
                 ;@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@                
                ,@@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@@               
               `@@@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@@@              
               @@@@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@@@@             
              @@@@@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@@@@;            
              @@@@@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@@@@'            
              @@@@@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@@@@'            
              @@@@@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@@@@'            
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   
                    .@@@@@@@@@@@@@ @@@@@@@@@@@@@                   

                     ;;;;;;;;;;;;  ,;;;;;;;;;;;                    
                     ,@@@@@@@@@@@   @@@@@@@@@@@                    
                      @@@@@@@@@@:   @@@@@@@@@@#                    

                      '@@@@@@@@@    .@@@@@@@@@                     
                       ########'     #########
                       Hosted by JetPhilly.com                     
-->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		{{ wp_head() }}
		<title>Philly Drink Tax</title>
		<link rel="apple-touch-icon" sizes="57x57" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/drinktax/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/wp-content/themes/drinktax/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/wp-content/themes/drinktax/favicons/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="/wp-content/themes/drinktax/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/wp-content/themes/drinktax/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/wp-content/themes/drinktax/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/wp-content/themes/drinktax/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="msapplication-TileImage" content="/wp-content/themes/drinktax/favicons/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div class="container">

			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h2>10% of every drink sold in Philly goes to Philly schools</h2>
					<p>It’s the most well known fact about Philadelphia schools: they’re underfunded and have been for over a decade.</p>

					<p>Think we can drink our way out of the problem? Click below to see how much your night out helps fund the schools.</p>
				</div>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off">
					<ol class="fs-fields">
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="q2">What do you usually drink?</label>
							<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								<span><input id="q1b" name="q1" type="radio" value="beer"/><label for="q1b" class="radio-beer">Beer</label></span>
								<span><input id="q1c" name="q1" type="radio" value="wine"/><label for="q1c" class="radio-wine">Wine</label></span>
								<span><input id="q1a" name="q1" type="radio" value="liquor"/><label for="q1a" class="radio-liquor">Liquor</label></span>
							</div>
						</li>
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="q1">How many drinks do you have out a week?</label>
							<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								<span><input id="q2b" name="q2" type="radio" value="1_3"/><label for="q2b" class="radio-1-3"></label></span>
								<span><input id="q2c" name="q2" type="radio" value="4_7"/><label for="q2c" class="radio-4-7"></label></span>
								<span><input id="q2a" name="q2" type="radio" value="8_10"/><label for="q2a" class="radio-8-10"></label></span>
							</div>
						</li>
					</ol><!-- /fs-fields -->
					<a class="fs-submit fs-button" id="submit" href="#" onclick="_gaq.push(['_trackEvent','Outgoing link','Twitter'])" target="_new">Share your impact</a>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

			<!-- Related demos -->
			<div class="related">
			<div class="related-content call-to-action">
				<h1>
					We need to do more.
				</h1>
				<h2>
					Simply put, our schools are broke. Many have been forced to cut nurses, librarians, guidance counselors, and programs for music and art. The truth is: <em>we can’t drink our way out of the problem</em>.
				</h2>
				<h2>
					 We need <strong>ideas</strong> on how to fully fund the system. What's yours?
				</h2>
				<img src="/wp-content/themes/drinktax/img/bf.png" class="limit-to-400" />
				<h1><em>
					Tweet @BenInPhilly
				</em></h1>
				<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Ideas on how Philadelphia might fully fund <a href="https://twitter.com/PhillyEducation">@PhillyEducation</a>? Share &#39;em with me &amp; let&#39;s get this conversation started. 📚✏️🍻</p>&mdash; Ben in Philly (@beninphilly) <a href="https://twitter.com/beninphilly/status/596122192141680641">May 7, 2015</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</p>
			</div>
			<div class="related-content">
				<a class="no-styling" name="background"></a>
				<h2>Need a quick lesson on the schools in Philly?</h2>
				<p>The annual budget for the schools is $2.76 billion. Sounds like a lot, right?</p>
				<p>In Philadelphia, that breaks down to $13,077 per student. In Lower Merion (about 10 miles away), the schools spend $22,963 per student.</p>
				<h3>Where do Philly’s schools get their money?</h3>
				<p>Philly’s schools get about $2.76 billion in funding. About 9% of that comes from the Federal government. About 50% comes from the state. And the rest comes from Philly.</p>
				<p>Philly contributes $897.6 million through taxes: Real Estate (73%); Use and Occupancy (15%); the drink tax (7%); school (non business) income (4%); and public utility realty (less than 1%).</p>
				<h3>So my drink costs more in Philly than outside the city?</h3>
				<p>Maybe. Maybe not. Some bars just eat the cost of the tax. Some pass it on to the consumer.</p>
				<p>We do know that the amount collected for the schools has nearly doubled since 2005 ($33 million) and has increased by $10.4 million since 2012.</p>
				<p>The drink tax accounts for $300 worth of each student’s $13,760 education.</p>
				<div class="related-content">
				<h2>Learn more about the drink tax</h2>
				<p>Check out these articles to learn more about school funding. And find out where the mayoral candidates stand.</p>
				<a href="http://www.philly.com/philly/news/politics/mayor/294039781.html" onclick="_gaq.push(['_trackEvent','Outgoing Link','Philly.com – Education'])">
					<img src="http://media.philly.com/images/12firstdayschoolphoto60031.jpg" />
					<h3>The Big Picture on Education (Next Mayor Project, Philly.com)</h3>
				</a>
				<a href="http://schoolbudget.phl.io/" onclick="_gaq.push(['_trackEvent','Outgoing Link','#'])">
					<img src="/wp-content/themes/drinktax/img/budget-viz.png" />
					<h3>School Budget Visualizer (Code for Philly)</h3>
				</a>
				<a href="http://www.pewtrusts.org/en/research-and-analysis/reports/2015/01/a-school-funding-formula-for-philadelphia" onclick="_gaq.push(['_trackEvent','Outgoing Link','Pew School Funding Formula'])">
					<img src="/wp-content/themes/drinktax/img/philly-schools.jpg" />
					<h3>Report on a school funding formula for Philadelphia (Pew Research)</h3>
				</a>
				<a href="http://www.washingtonpost.com/local/education/pa-schools-are-the-nations-most-inequitable-the-new-governor-wants-to-fix-that/2015/04/22/3d2f4e3e-e441-11e4-81ea-0649268f729e_story.html" onclick="_gaq.push(['_trackEvent','Outgoing Link','Washington Post'])">
					<img src="/wp-content/themes/drinktax/img/wolf.jpg" />
					<h3>How Gov. Tom Wolf wants to help balance the budget (Washington Post)</h3>
				</a>

				<h2>Get Involved</h2>
				<a href="https://www.facebook.com/corescholars" onclick="_gaq.push(['_trackEvent','Outgoing Link','CORE'])">
					<img src="/wp-content/themes/drinktax/img/core.jpg" />
					<h3>PhillyCORE Leaders</h3>
				</a>
				<a href="http://www.philaedfund.org/" onclick="_gaq.push(['_trackEvent','Outgoing Link','Philadelphia Education Fund'])">
					<img src="/wp-content/themes/drinktax/img/education-fund.jpeg" />
					<h3>Philadelphia Education Fund</h3>
				</a>
				<a href="http://www.teachersleadphilly.org/" onclick="_gaq.push(['_trackEvent','Outgoing Link','Teachers Lead Phily'])">
					<img src="/wp-content/themes/drinktax/img/teachers.PNG" />
					<h3>Teachers Lead Philly</h3>
				</a>
				<h2>Our Partners</h2>
				<p>This project is the result of a collaboration between YIP, Code for Philly, and the Philadelphia Chapter of NLC. Special thanks for the generous financial backing of the Next Mayor Project and Philly.com.</p>
				<a href="http://www.younginvolvedphila.org" onclick="_gaq.push(['_trackEvent','Outgoing Link','YIP'])">
					<img src="/wp-content/themes/drinktax/img/yip.jpeg" />
					<h3>Young Involved Phildelphia</h3>
				</a>
				<a href="http://www.philly.com" onclick="_gaq.push(['_trackEvent','Outgoing Link','Philly.com'])">
					<img src="/wp-content/themes/drinktax/img/phillydotcom.jpeg" />
					<h3>Philly.com Next Mayor Project</h3>
				</a>
				<a href="http://philadelphia.newleaderscouncil.org/" onclick="_gaq.push(['_trackEvent','Outgoing Link','NLC'])">
					<img src="/wp-content/themes/drinktax/img/Fellows.jpg" />
					<h3>New Leaders Council, Philadelphia Chapter</h3>
				</a>
				<a href="https://codeforphilly.org/" onclick="_gaq.push(['_trackEvent','Outgoing Link','Code for Philly'])">
					<img src="/wp-content/themes/drinktax/img/code.png" />
					<h3>Code for Philly</h3>
				</a>
			</div>

			</div>

		</div><!-- /container -->

		{{ wp_footer() }}
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-62497294-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

		<script>
			(function() {
				var formWrap = document.getElementById( 'fs-form-wrap' );

				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){
							document.querySelector('span.cs-placeholder').style.backgroundColor = val;
						}
					});
				} );

				new FForm( formWrap, {
					onReview : function() {
						classie.add( document.body, 'overview' ); // for demo purposes only
					}
				} );
			})();
		</script>
	</body>
</html>
